<h1>Posts</h1>

<table class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Hour(s)</th>
      <th>Date</th>
      <th class='hidden-xs'>Work Performed</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody id="posts">
    <%= render @posts %>
  </tbody>
</table>

<div id="paginator">
  <%= paginate @posts, remote: true %>
</div>
